<div class="login-card">
    <h3 class="login-title"> iniciar seccion</h3>
    <div class="login-form">
        <form action="">
         <p>
            <mat-form-field appearance="fill">
                <mat-label>Usuario</mat-label>
                <input matInput placeholder="Ingrese su usuario">
                <mat-icon matSuffix>user</mat-icon>
                <mat-hint>Su correo electrónico</mat-hint>
            </mat-form-field>
         </p>
         <p>
            <mat-form-field appearance="outline">
                <mat-label>Contaseña</mat-label>
                <input matInput placeholder="**********">
                <mat-icon matSuffix>valores numéricos</mat-icon>
                <mat-hint>Hint</mat-hint>
            </mat-form-field>
         </p>
        </form>
    </div>

</div>