<mat-sidenav-container>
    <mat-sidenav> Start </mat-sidenav>
    <mat-sidenav position="end">End</mat-sidenav>
    <section>Paz y Salvo App es un sistema de gestion que permite a los usuarios de Administrar sus facturas de ventas</section>
    <mat-divider>

    </mat-divider>
    <div class="menu-options">
        <button class="btnLoguin">
            <!--ICONO-->
            <mat-icon class="mat-icon-rtl-mirrow">Home</mat-icon>
            <!--TEXTO-->
            <span>Home</span>
        </button>
        <button class="btnLoguin">
            <!--ICONO-->
            <mat-icon class="mat-icon-rtl-mirrow">list</mat-icon>
            <!--TEXTO-->
            <span>Facturas</span>            
        </button>
    </div>
</mat-sidenav-container>
<div class="help-options">
    <button class="btnLoguin">
        <!--ICONO-->
        <mat-icon class="mat-icon-rtl-mirrow">help</mat-icon>
        <!--TEXTO-->
        <span>Soporte</span> 
    </button>
</div>